@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  scroll-behavior: smooth;
}

.arrow-container {
  position: absolute;
  bottom: 5vh;
  left: 49.4%;
  transform: translateX(-50%);
  height: 50px;
  cursor: pointer;
}

.arrow {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
  border-bottom: 4px solid #fff;
  border-right: 4px solid #fff;
  transform: rotate(45deg);
  animation: pulse 2s ease-in-out infinite;
  transform: scale(1.2);
}

@keyframes pulse {
  0% {
    transform: rotate(45deg) scale(1);
    border-bottom-width: 4px;
    border-right-width: 4px;
  }
  50% {
    transform: rotate(45deg) scale(1.2);
    border-bottom-width: 5px;
    border-right-width: 5px;
  }
  100% {
    transform: rotate(45deg) scale(1);
    border-bottom-width: 4px;
    border-right-width: 4px;
  }
}